### Variables
set $mod Mod4
set $term foot -e tmux
set $rofi_cmd rofi -terminal '$term'

### Output & Display
output * bg ~/.config/sway/thinknix-d.svg fill
output * scale 1.0 scale_filter nearest

{{ if eq .chezmoi.osRelease.id "fedora" -}}
output eDP-1 pos 0 0
output DP-4 pos 1920 0
exec gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'
{{ end -}}

{{ if eq .chezmoi.osRelease.id "nixos" -}}
exec waybar
{{ end -}}

### Input
input type:keyboard {
    xkb_layout de
    xkb_variant nodeadkeys
}

### Appearance
default_border pixel 2
gaps inner 2
gaps outer 1

# class                 border  background text     indicator child_border
client.focused          #cc0000 #1a1a1a    #ffffff  #cc0000   #cc0000
client.unfocused        #333333 #1a1a1a    #888888  #333333   #333333
client.focused_inactive #333333 #1a1a1a    #888888  #333333   #333333

floating_modifier $mod normal

### Keybindings: Application Launchers

# Fester Workspace-Start
bindsym $mod+e exec swaymsg "workspace 1; exec flatpak run org.mozilla.firefox"
bindsym $mod+q exec swaymsg "workspace 2; exec $term"
bindsym $mod+j exec swaymsg "workspace 3; exec foot -e tmux new-session nvim"

# Start auf aktuellem Workspace
bindsym $mod+Shift+e exec flatpak run org.mozilla.firefox
bindsym $mod+Shift+q exec foot
bindsym $mod+Shift+j exec foot -e nvim

# System & Tools
bindsym $mod+c kill
bindsym $mod+s exec ~/.config/sway/scripts/drun-launcher.sh
bindsym $mod+w exec ~/.config/sway/scripts/tmux-session-picker.sh
bindsym $mod+b exec blueman-manager
bindsym $mod+n exec nm-connection-editor
bindsym $mod+m exec ~/.config/sway/scripts/toggle-monitor-light-on-off.sh
bindsym $mod+Shift+p exec ~/.config/sway/scripts/executable_send_print_command_drugga.sh

# Lupe (Maus)
bindsym --whole-window $mod+button2 exec ~/.config/sway/scripts/toggle-magnification.sh

### Keybindings: Window Navigation & Movement
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

### Keybindings: Scratchpad
bindsym $mod+Shift+minus move scratchpad
bindsym $mod+minus scratchpad show

### Conditional System Features
{{ if eq .chezmoi.osRelease.id "fedora" -}}
# Fullscreen & Passthrough
bindsym $mod+F11 fullscreen toggle
bindsym $mod+F12 mode "passthrough"

mode "passthrough" {
    bindsym $mod+F12 mode "default"
}
{{ end -}}

### Includes
{{ if eq .chezmoi.osRelease.id "nixos" -}}
include /etc/sway/config.d/*.conf
include ~/.config/sway/config.d/*.conf
{{ else -}}
include '$(/usr/libexec/sway/layered-include "/usr/share/sway/config.d/*.conf" "/etc/sway/config.d/*.conf" "${XDG_CONFIG_HOME:-$HOME/.config}/sway/config.d/*.conf")'
{{ end -}}
